@font-face {
  font-family: 'icomoon'
  src: url('../fonts/icomoon.eot?p9cyfv')
  src: url('../fonts/icomoon.eot?p9cyfv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p9cyfv') format('truetype'),
    url('../fonts/icomoon.woff?p9cyfv') format('woff'),
    url('../fonts/icomoon.svg?p9cyfv#icomoon') format('svg')
  font-weight: normal
  font-style: normal
}

[class^="elextra-icon-"], [class*=" elextra-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  margin-right: 10px
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
}

.elextra-icon-toRight:before {
  content: "\e913"
}

.elextra-icon-analysis:before {
  content: "\e900"
}

.elextra-icon-avatar:before {
  content: "\e901"
}

.elextra-icon-close:before {
  content: "\e902"
}

.elextra-icon-data:before {
  content: "\e903"
}

.elextra-icon-delete:before {
  content: "\e904"
}

.elextra-icon-finance:before {
  content: "\e905"
}

.elextra-icon-home:before {
  content: "\e906"
}

.elextra-icon-info:before {
  content: "\e907"
}

.elextra-icon-item:before {
  content: "\e908"
}

.elextra-icon-left:before {
  content: "\e909"
}

.elextra-icon-loan:before {
  content: "\e90a"
}

.elextra-icon-lock:before {
  content: "\e90b"
}

.elextra-icon-magnifier:before {
  content: "\e90c"
}

.elextra-icon-open:before {
  content: "\e90d"
}

.elextra-icon-privilage:before {
  content: "\e90e"
}

.elextra-icon-promotion:before {
  content: "\e90f"
}

.elextra-icon-repay:before {
  content: "\e910"
}

.elextra-icon-right:before {
  content: "\e911"
}

.elextra-icon-user:before {
  content: "\e912"
}
